<footer id="footer" class="dark">
    <div id="copyrights">
        <div class="container">
            <div class="row justify-content-between col-mb-30">
                <div class="col-12 col-lg-auto text-center text-lg-left order-last order-lg-first">
                    <img src="images/footer-logo.png" alt="Image" class="mb-4"><br>
                    Copyrights &copy; 2022 Todos los derechos reservados.
                </div>

                <div class="col-12 col-lg-auto text-center text-lg-right">
                    <h4>Mis Redes Sociales</h4>
                    <div class="copyrights-menu copyright-links">
                        <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
                    </div>
                    <a href="https://www.linkedin.com/in/lucasfm/" class="social-icon inline-block si-small si-borderless mb-0 si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>
                    <a href="https://twitter.com/LucasFerreyraM" class="social-icon inline-block si-small si-borderless mb-0 si-github">
                        <i class="icon-github"></i>
                        <i class="icon-github"></i>
                    </a>
                    <a href="#" class="social-icon inline-block si-small si-borderless mb-0 si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                </div>

                <div class="col-12 col-lg-auto text-center text-lg-right">
                    <h4>Mis Datos</h4>
                    <ul>
                        <li>Mail: ferreyrademoraiz@gmail.com</a></li>
                        <li>Tel: (0376) 154-258156</li>
                        <li>Ciudad: Garupá, Misiones - Arg.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer>
