<footer id="footer" class="dark">
    <div id="copyrights">
        <div class="container">
            <div class="row justify-content-between col-mb-30">
                <div class="col-12 col-lg-auto text-center text-lg-left order-last order-lg-first">
                    <a href="index" class="text-dark lead">LucasFM</a><br>
                    Copyright &copy; 2022 Todos los derechos reservados.
                </div>

                <div class="col-12 col-lg-auto text-center text-lg-left">
                    <h4 class="lead">Mis Redes Sociales</h4>
                    <div class="copyrights-menu copyright-links">
                        <a href="index">Home</a>/<a href="prices">Precios</a>/<a href="access">Acceder</a>
                    </div>
                    <a href="https://www.linkedin.com/in/lucasfm/" class="social-icon inline-block si-small si-borderless mb-0 si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>
                    <a href="https://github.com/LucasFdM" class="social-icon inline-block si-small si-borderless mb-0 si-github">
                        <i class="icon-github"></i>
                        <i class="icon-github"></i>
                    </a>
                    <a href="https://twitter.com/LucasFerreyraM" class="social-icon inline-block si-small si-borderless mb-0 si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="ferreyrademoraiz@outlook.com" class="social-icon inline-block si-small si-borderless mb-0 si-skype">
                        <i class="icon-skype"></i>
                        <i class="icon-skype"></i>
                    </a>
                    <a href="mailto:ferreyrademoraiz@gmail.com" class="social-icon inline-block si-small si-borderless mb-0 si-email3">
                        <i class="icon-email3"></i>
                        <i class="icon-email3"></i>
                    </a>
                </div>

                <div class="col-12 col-lg-auto text-center text-lg-left">
                    <h4 class="lead">Mis Datos</h4>
                    <p><strong>Mail:</strong> ferreyrademoraiz@gmail.com<br>
                    <strong>Tel:</strong> (0376) 154-258156<br>
                    <strong>Ciudad:</strong> Garupá, Misiones - Arg.<br>
                    <a class="text-success" href="#" onclick="Login()">Acceso Administrador</a></p>
                </div>
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer>
