<header>
<div class="bg-dark py-2 text-left fixed-top">
    <a href="index" class="bg-success text-dark p-3 lead" id="home">LucasFM</a>
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item"><a data-scroll class="nav-link text-success" href="#home">Home</a></li>
        <li class="nav-item"><a data-scroll class="nav-link text-success" href="#servicios">Servicios</a></li>
        <li class="nav-item"><a data-scroll class="nav-link text-success" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a data-scroll class="nav-link text-success" href="#contacto">Contacto</a></li>
        <li class="nav-item"><a data-scroll class="nav-link bg-warning text-dark" href="access">Log In</a></li>
    </ul>
</div>
</header>