<header>
    <div class="bg-dark py-2 text-left fixed-top">
        <a href="index" class="bg-success text-dark p-3 lead" id="home">LucasFM</a>
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="index">Home</a></li>
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="data">Databases</a></li>
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="maths">Calculator</a></li>
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="prices">Precios</a></li>
            <li class="nav-item"><a data-scroll class="nav-link bg-warning text-dark" href="access">Acceder</a></li>
        </ul>
    </div>
</header>