<header>
    <div class="bg-dark py-2 text-left fixed-top">
        <a href="index" class="bg-success text-dark p-3 lead" id="home">LucasFM</a>
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="index">Inicio</a></li>
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="user">Usuarios</a></li>
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="message">Mensajes</a></li>
            <li class="nav-item"><a data-scroll class="nav-link text-success" href="services">Servicios</a></li>
            <li class="nav-item"><a data-scroll class="nav-link bg-warning text-dark" href="index">Cerrar Sesión</a></li>
        </ul>
    </div>
</header>