<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">    
    <!-- Mas Iconos -->
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Code -->
    <link rel="stylesheet" href="./css/prism.css">
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>LucasFM | {{ titulo }}</title>
</head>
<body>
    <div class="container-fluid">
        {{{ body }}}    
    </div>
    {{> footer}}

    <!-- Scroll -->
    <script src="./js/smooth-scroll.min.js"></script>
    <script>
    var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 500,
        speedAsDuration: true,
        offset: 75
    });
    </script>
    {{!-- <script>
    Swal.fire({
            title: 'Test modal with input',
            html: 'custom <strong>content</strong>',
            input: 'text',
            icon: 'success',
            showCloseButton: true,
            showCancelButton: true,
            preConfirm: function (value) {
                if (!value) {
                    Swal.showValidationMessage('Should not be empty!')
                }
            },
            didOpen: function (modal) {
                console.log(modal)
            },
        }).then(function (result) {
            console.log(result)
        })
    </script> --}}
</body>
</html> 
    
