{{> header}}
<section>
    <div class="error-page">
        <h1 class="headline text-warning">404</h1>
        
        <div class="error-content">
            <h3><i class="bi bi-exclamation-triangle-fill text-warning"></i>
            ¡Error! Pagina no encontrada</h3>
            <p>No pudimos encontrar la pagina que estas buscando.
            <br><a href="index">Clic Aqui</a> para volver al inicio.
            </p>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>

{{>scripts}}