<header>
    <div class="bg-dark py-4 text-left fixed-top">
        <a href="index" class="bg-success text-dark p-3 lead" id="home">LucasFM</a>
    </div>
</header>

<section id="acceso">
    <div class="card w-50 mx-auto">
        <div id="boton" class="align-item-center">
            <button type="button" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#modal1">
                Acceder
            </button>
            <button type="button" class="btn btn-warning btn-block btn-lg" data-toggle="modal" data-target="#modal2">
                Registrarse
            </button>
        </div>
    </div>
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
        aria-labelledby="modal1Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1LongTitle">Acceso a Usuarios</h5>
                    <button type="button" class="close" data-dismiss="modal1" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="login" class="form-signin" method="post">
                        <label for="inputEmail2">E-mail</label>
                        <input type="email" id="inputEmail2" name="email" class="form-control" placeholder="nombre@mail.com" required autofocus>
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" id="inputPassword2" name="password" class="form-control" placeholder="********" required>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Recordarme
                            </label>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
                    </form>
                    <div class="text-center validate">
                        <h2 class="text-danger">
                            {{validate}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
        aria-labelledby="modal1Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal1LongTitle">Registro de Usuarios</h5>
                    <button type="button" class="close" data-dismiss="modal2" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="logon" class="form-signin" method="post">
                        <label for="inputNameUser">Nombre de Usuario</label>
                        <input type="text" id="inputNameUser" name="nameUser" class="form-control" required autofocus>
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="********" required>
                        <label for="inputEmail">E-mail</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="nombre@mail.com" required>
                        <label for="inputName">Nombre Completo</label>
                        <input type="text" id="inputName" name="name" class="form-control" required>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
                    </form>
                    <div class="text-center validate">
                        <h2 class="text-danger">
                            {{validate}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>scripts}}

<script>
    $('#modal1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('whatever')
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
<script>
    $('#modal2').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('whatever')
        var modal = $(this)
    })
</script>