{{> header}}
<section class="container-fluid">
    <h1><i class="bi bi-user"></i>Base de Datos</h1>
    <hr>
    <h3>Estructura de la Base de Datos del Sistema</h3>
    <div class="row">
        <div class="col-6">
            <p>SQL:</p>
            <pre>
                <code class="language-sql" data-lang="sql">
                    CREATE DATABASE utn;

                    USE utn;

                    CREATE TABLE servicio(
                        id integer primary key,
                        name varchar(100),
                        description varchar(250),
                        price float
                    );

                    CREATE TABLE usuario(
                        nameUser varchar(50) primary key,
                        password varchar(20) not null,
                        email varchar(100) not null,
                        name varchar (100),
                        pedidoServicios integer,
                        foreign key (pedidoServicios) references servicio(id)
                    );

                    CREATE TABLE lenguaje(
                        name varchar(25) primary key,
                        description varchar(250) not null,
                        idServicios integer,
                        foreign key (idServicios) references servicio(id)
                    );
                </code>
            </pre>
        </div>
        <div class="col-6 align-content-end">
            <p>DER:</p>
            <div class="mxgraph" style="max-width:100%;border:1px solid transparent;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;nav&quot;:true,&quot;resize&quot;:true,&quot;toolbar&quot;:&quot;zoom layers tags lightbox&quot;,&quot;edit&quot;:&quot;_blank&quot;,&quot;xml&quot;:&quot;&lt;mxfile host=\&quot;app.diagrams.net\&quot; modified=\&quot;2022-04-12T05:11:27.025Z\&quot; agent=\&quot;5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36\&quot; etag=\&quot;du-OJh2uTmTeZ7y3SelC\&quot; version=\&quot;17.4.3\&quot; type=\&quot;github\&quot;&gt;&lt;diagram id=\&quot;R2lEEEUBdFMjLlhIrx00\&quot; name=\&quot;Page-1\&quot;&gt;7Vttc5s4EP41/hgP77Y/Jk6czjWZtpPLXPrpRgEFqwFEhRzb+fUnjDAgKZjGgOk1mU4HrVYCPftIu1rJI3Mebq4JiJe32IPByNC8zci8HBnG1DHY/6lgmwl029YyiU+Qx2WF4A69Qi7M1VbIg0lFkWIcUBRXhS6OIujSigwQgtdVtSccVN8aAx9KgjsXBLL0H+TRJR9XPopU/gkif5m/Wdd4TQhyZS5IlsDD64oIbugCR5R/4ldIQhDBiLKaW0CeIRnZV0tK05Gej4wF+/eUao99jP0AghglYxeHTOwmTGXxBEIUpDiXOrrgHbHXmVcjc04wptlTuJnDILVVbobsmxZv1O5xIGm/DRrQb+cauf30RLZf7uev4OYGrR/OdIdjQbc5wNBjePMiJnSJfRyB4KqQXhC8ijyYdquxUqFzg3HMhDoT/oCUbjl5wIpiJlrSMOC1cIPoQ9p8bPPS91LN5Yb3vCts80JEybbUKC1+L9cVzXalop13ntKOFR9BAi9BssykCxQEXEeGkqOb4BVxOS7xv+jyNQKzv6YLzYIRPte//DzLZwAgPqR1OFucYF6F3dxS1xCHkH00UyAwABS9VMkOOCH9vV5hZ/bATa02e91nv4Bgxd90n6wAQVhiQ9XW6yWi8C4GO0zWbIGp2vVNHF8goXBTO3Bea8z4VOTr01k+NdfFZNdz2bI00R2tI6wMCauR4QTsrRcr9uCnDxEI4X2Szuqsgr1nXyfPryBgayXsBU3dEdC0FWhqCjTNrtC0JDRjkCRrTLxhAaWiXa9A2W/SLolBlLMLhgAFJdqV6wYFqH5qPB0JzwiHjwQOCiXr1CjNFKwT8SkcaoQjWMWk6i5yP3+mjTVtWnL12ljXJ/XunhVY2ITYsNi6KoQAeiUAKOKBN0KAVt17nY846N1LdrUVZs1ljYMA/oavGO2CVM4qW5x7E4Eu2bh5q3LIKHTk6EJHhtBRBozU0Y56+2EfEaZondBRqzDRsOuJOFjSNQ0p+yGdMZuNNXNW/DmCQx3Pplrxp0/fR0ljIjpqu19KyqHzUZRsm10HWWMPjDVVc4rWbEyLqUALvWdaqHYJvxMtnEHTwnqnA5N2k52xQrnrNxuQoodsS4MMSO4a9V9xjY1cnDodIrNSqdc0rjo2YBLinP1u5QDf2uKJaq83TJ50b/KTJcqUX9NkPzQMy6hn8OTUM3g6KHM2it4+7Fmnp7Vt0F1TBgfYlhTidKlNalZsTYwbhcMPUd84Un9yQN86Un9qC+TOEGnVzegffmYIJzJ1n10yzR0kL8gdwJGMKeyt9BnnUR9HMnVhYd2RDGvf6mFMFfQWULVFVPPyIVTbyP3WRV7lDDkIj8iPdw6Z8lBBCZndEWRTCTIPJi5BMUU4GjJyVsMpLOZj2lvv5NRuTJA7aLpNTj1DdXmKJjhgToIC2Usscfi4Sk6Am5XHGRy3mQybMnVkjDsj20TCTZcAY6OjVWRAgPyIPbsMi/QQ6iLFALkgOOcVIfK8LCaCCXoFj7uuUhR5+Mr6tS9G9mXaFwuDkiwiSrtOKMHPcI4DnB5u8XTgE4t/BFEH5tAVNFZO/c5YLK+a8lr5f7WGaVcXFcWJb1fGuA798Mx5/nwPwm+r678/Bw9X93mK8uP+V2u7DSXMTU9djs2bS9vKzhKZymHK/ukk9PqF9EqVglotBRvRRInLdFg0MU1hERID5I5pIuchCPy5QlBxG+d0YYwpzCVTsdvoLo5R4ibfYfqDwhirGsYYtryF6dVzyjHlHxTFiHNDEeP3agw5pLyBkb8CPxQrSt/pM61KXKtp1qKN9JkSLNWhluJG8/BuM08aINnVdUklkoosRisJoC7A6vNuqRqsJtchfufbfEeFfnxSDuQCji2wx9GabSTkK6RGtaP9z83av4KjJl2TLcmxpDtwKjtc0jU+ze2HdaZu1d0htYzJWDPex8P8gLXIu7R1FYwVix/xZerFLy/Nq/8A&lt;/diagram&gt;&lt;/mxfile&gt;&quot;}"></div>
            <script type="text/javascript" src="https://viewer.diagrams.net/js/viewer-static.min.js"></script>
            <br>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>

{{>scripts}}
<script src="./js/prism.js"></script>