{{> header}}
<section>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mt-5 mx-auto text-center">
    <h1 class="display-4">Lista de Precios</h1>
    <p class="lead">Valores correspondientes a servicios estandar de programación,<br> por proyectos de mayor magnitud por favor solicitar presupuesto mediante el formulario de contacto.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Portfolio Personal</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$10.000 <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Slider de imagenes</li>
                    <li>Proyectos anteriores</li>
                    <li>Formulario de contacto</li>
                    <li>Integracion de redes sociales</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-success">Contratar</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Web Empresarial</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15.000 <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Base de datos</li>
                    <li>Acceso a usuarios</li>
                    <li>Formulario de contacto</li>
                    <li>Integracion de redes sociales</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-success">Contratar</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Tienda Online</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$30.000 <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Base de datos</li>
                    <li>Acceso a usuarios</li>
                    <li>Carrito de compras</li>
                    <li>Integracion medios de pago</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-success">Contratar</button>
            </div>
        </div>
    </div>
</section>




{{>scripts}}