/* 404 */
.error-page {
    margin: 150px auto;
    width: 600px;
}

@media (max-width: 767.98px) {
    .error-page {
        width: 100%;
    }
}

.error-page>.headline {
    float: left;
    font-size: 100px;
    font-weight: 500;
}

@media (max-width: 767.98px) {
    .error-page>.headline {
        float: none;
        text-align: center;
    }
}

.error-page>.error-content {
    display: block;
    margin-left: 190px;
    text-align: center;
}

@media (max-width: 767.98px) {
    .error-page>.error-content {
        margin-left: 0;
    }
}

.error-page>.error-content>h1 {
    font-size: 25px;
}

@media (max-width: 767.98px) {
    .error-page>.error-content>h1 {
        text-align: center;
    }
}

ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#boton{
    margin: 200px 0;
}

/* Footer */
footer{
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
}

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/
.dark {
    color: #EEE;
    background-color: #383838;
}

.dark .social-icon {
	color: #EEE;
	border-color: #AAA;
}

.dark .si-dark {
	background-color: rgba(0,0,0,0.2);
	color: #FFF !important;
	border-color: transparent;
}

.dark #footer,
#footer.dark {
	color: rgba(255,255,255,0.75);
	background-color: #282828;
	border-top-color: rgba(255,255,255,0.15);
}

.dark .footer-widgets-wrap a {
	color: rgba(255,255,255,0.75);
}

.dark .footer-widgets-wrap a:hover {
	color: rgba(255,255,255,0.85);
}

.dark #footer .social-icon.si-borderless,
#footer.dark .social-icon.si-borderless {
	color: rgba(255,255,255,0.5) !important;
}

.dark #copyrights,
#copyrights.dark {
	color: rgba(255,255,255,0.4);
	background-color: rgba(0,0,0,0.2);
}

.dark .copyright-links a {
	color: rgba(255,255,255,0.4);
	border-bottom-color: rgba(255,255,255,0.65);
}

.dark .copyright-links a:hover {
	color: rgba(255,255,255,0.6);
	border-bottom-color: rgba(255,255,255,0.7);
}


#footer {
	position: relative;
	background-color: #EEE;
	border-top: 5px solid rgba(0,0,0,0.2);
}

@media (min-width: 992px) {
	.sticky-footer #slider:not(.slider-parallax-invisible),
	.sticky-footer #page-submenu,
	.sticky-footer #page-title,
	.sticky-footer #content { z-index: 2; }

	.sticky-footer #footer {
		position: sticky;
		top: auto;
		bottom: 0;
		left: 0;
	}
}

#footer .footer-widgets-wrap {
	position: relative;
	padding: 80px 0;
}

#copyrights {
	padding: 40px 0;
	background-color: #DDD;
	font-size: 0.875rem;
	line-height: 1.8;
}

#copyrights i.footer-icon {
	position: relative;
	top: 1px;
	font-size: 0.875rem;
	width: 14px;
	text-align: center;
	margin-right: 3px;
}

.copyright-links a {
	display: inline-block;
	margin: 0 3px;
	color: #333;
	border-bottom: 1px dotted #444;
}

.copyright-links a:hover {
	color: #555;
	border-bottom: 1px solid #666;
}

.copyrights-menu { margin-bottom: 10px; }

.copyrights-menu a {
	font-size: 0.875rem;
	margin: 0 10px;
	border-bottom: 0 !important;
}

#copyrights a:first-child { margin-left: 0; }

#copyrights.text-right a:last-child { margin-right: 0; }

.social-icon {
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	font-size: 1.25rem;
	line-height: 38px !important;
	color: #555;
	text-shadow: none;
	border: 1px solid #AAA;
	border-radius: 3px;
	overflow: hidden;
}

.social-icon {
	display: block;
	float: left;
	margin: 4px 11px 7px 0;
	text-align: center !important;
	font-size: 28px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	cursor: pointer;
	font-style: normal;
}

.si-rounded { border-radius: 50%; }

.si-borderless { border-color: transparent !important; }

.si-dark {
	background-color: #444;
	color: #FFF !important;
	border-color: transparent;
}

.si-colored { border-color: transparent !important; }

.si-colored i { color: #FFF; }

.social-icon.si-small {
	width: 32px;
	height: 32px;
	font-size: 0.875rem;
	line-height: 30px !important;
}

.social-icon i {
	display: block;
	position: relative;
    -webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.social-icon i:last-child { color: #FFF !important; }

.social-icon:hover i:first-child { margin-top: -38px; }

.social-icon.si-large:hover i:first-child { margin-top: -54px; }

.social-icon.si-small:hover i:first-child { margin-top: -30px; }

.social-icon:hover {
	color: #555;
	border-color: transparent;
}

.si-colored.social-icon { border-color: transparent; }

.si-sticky {
	position: fixed;
	top: 50%;
	left: 5px;
	width: 36px;
	z-index: 499;
	transform: translateY(-50%);
}

.si-share {
	position: relative;
	padding-left: 5px;
}

.si-share .social-icon {
	margin: -1px 0;
	border-radius: 0;
	font-size: 15px;
}

.si-linkedin:hover,
.si-colored.si-linkedin { background-color: #0E76A8 !important; }
.si-github:hover,
.si-colored.si-github { background-color: #171515 !important; }
.si-twitter:hover,
.si-colored.si-twitter { background-color: #00ACEE !important; }
.si-skype:hover,
.si-colored.si-skype { background-color: #00AFF0 !important; }
.si-email3:hover,
.si-colored.si-email3 { background-color: #6567A5 !important; }